table,td{
    border: 2px solid black;
    border-collapse: collapse; 
}
td {
    color: white;
    text-align: center;
  }

  h2{
    width: 100px;
    border:12px solid red;
    border-bottom-color:blue;
    border-top-color:yellow ;
    border-left-color: green;
    border-top-right-radius:25px ;
    border-bottom-left-radius: 25px;
    margin-top:15px;
    margin-bottom:25px;
  }

  .green{
    border: 15px solid green;
    border-radius: 20px;
    margin-top: 25px;
    width:50px;
    padding: 12px;
    background-color: green;
    color: white;
  }

  .grey{
    border: 15px solid grey;
    border-radius: 20px;
    width:50px;
    padding: 12px;
    margin-top: -75px;
    margin-left:300px ;
    background-color: grey;
    color: white;
  }
 
  .orange{
    border: 15px solid orange;
    border-radius: 20px;
    padding: 12px;
    width:50px;
    margin-left: 150px;
    background-color: orange;
    color: white;
  }
 
  .blue{
    border: 15px solid blue;
    border-radius: 20px;
    width:50px;
    padding: 12px;
    background-color: blue;
    color: white;
  }
 
  .pink{
    border: 15px solid darkmagenta;
    border-radius: 20px;
    padding: 12px;
    width:50px;
    margin-left: 300px;
    margin-top: -75px;
    background-color: darkmagenta;
    color: white;
  }
 
  
    
    
  .cir{
    border: 50px solid black;
    border-top-right-radius: 100px ;
    border-top-left-radius: 100px ;
    margin-left: 50px;
    width: 20px;   
}

.ret{
    border: 30px solid black;
    border-radius: 20px;
    border-top-right-radius: 100px;
    width: 250px; 
}

.squ{
    border: 50px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 30px ;
    width:70px;
}

.line1{
    border: 2px solid black;
    padding:2px ;
    width: 40px;
    margin-top: -230px;
    background-color: white;
    margin-left: 90px;
}

.line2{
    border: 2px solid black;  
    padding:2px ; 
    width: 40px;
    background-color: red;
    margin-left: 90px;
}

.line3{
    border: 2px solid black;
    padding:2px ; 
    width: 40px; 
    background-color: white;
    margin-left: 90px;
}

.line4{
    border:4px solid black;
    width: 10px;
    padding: 180px;
    margin-top: -115px; 
}

